<footer class="container-fluid vertical-center">
  <hr/>
  <div class="center">
    🎈🦡
    <small>Starter-kit made with
      <a href="https://www.11ty.dev/" target="_blank">
        <b>
          <i>11ty</i>
        </b>
      </a>
    </small>
    🦡🎈
  </div>
</footer>