<header class="container-fluid vertical-center" role="group">
  <div class="center">
    <img class="img-medium" src="/assets/eleventy.avif" alt="11ty logo">
    <div class="center-navbar vertical-center">
      <h1>{{ title }}</h1>
      <nav class="container-fluid center">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <a href="https://pages.github.com/" target="_blank">
        <img class="img-icon" src="/assets/github.svg" alt="github logo">
      </a>
    </div>
    <img class="img-medium" src="/assets/favicon.png" alt="nunjucks custom logo">
  </div>
  <hr/>
</header>