---
layout: layout/layout-page.njk
title: Drop us a line
description: This website is a starter-kit for 11ty, a minimalist, SEO friendly, agnostic and very fast way to create static sites (SSG).
---

<form action="https://formsubmit.co/96e7ee4f8ca101282208499bb7707866" method="POST">
  <input type="hidden" name="_next" value="http://localhost:8080/thanks/">
  <input type="hidden" name="_captcha" value="false">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <label for="message">Message:</label>
  <textarea id="message" name="message" required></textarea>
  <button type="submit">Send</button>
</form>