---
layout: layout/layout-page.njk
title: 11ty - Starter-Kit
description: This website is a starter-kit for 11ty, a minimalist, SEO friendly, agnostic and very fast way to create static sites (SSG).
---

<h1>Welcome to the starter-kit for 11ty</h1>
<p>{{ description }}</p>
<br>
<hr>