---
layout: layout/layout-page.njk
title: Drop us a line
description: This website is a starter-kit for 11ty, a minimalist, SEO friendly, agnostic and very fast way to create static sites (SSG).
---

<div class="center">
  <h1>Thanks for your message!</h1>
</div>